{
    "printWidth": 120,
    "tabWidth": 4,
    "tabs": false,
    "semi": true,
    "singleQuote": true,
    "quoteProps": "preserve",
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto"
  }
