@mixin avatar($size) {
  width: $size;
  min-width: 50px;
  height: $size;
  min-height: 50px;

  border-radius: 50%;

  img {
    width: $size;
    min-width: 50px;
    height: $size;
    min-height: 50px;


    border-radius: 50%;

    object-fit: cover;
  }
}
