:root {
  --btn-padding-sm: 3rem;
  --btn-padding-md: 7rem;
  --btn-padding-lg: 13rem;
  --button-border-radius: .5rem;
  --button-border: none;
}


:root[data-theme="dark"] {
  // button green
  --bg-button-green: #1C6758;
  --bg-button-green-hover: #287963;
  --bg-button-green-active: #1f6053;
  --text-color-button-green: #fff;

  // button blue
  --bg-button-blue: #3A6B87;
  --bg-button-blue-hover: #3d769d;
  --bg-button-blue-active: #3A6B87;
  --text-color-button-blue: #fff;

  // button red
  --bg-button-red: #b21f1f;
  --bg-button-red-hover: #881d2a;
  --bg-button-red-active: #b91e1e;
  --text-color-button-red: #fff;


  // button gray
  --bg-button-gray: #7c7c7c;
  --bg-button-gray-hover: #6b6b6b;
  --bg-button-gray-active: #5b5b5b;
  --text-color-button-gray: #fff;
}

:root[data-theme="light"] {
  // button green
  --bg-button-green: #1C6758;
  --bg-button-green-hover: #287963;
  --bg-button-green-active: #1f6053;
  --text-color-button-green: #fff;


  // button blue
  --bg-button-blue: #3A6B87;
  --bg-button-blue-hover: #3d769d;
  --bg-button-blue-active: #3A6B87;
  --text-color-button-blue: #fff;

  // button red
  --bg-button-red: #b21f1f;
  --bg-button-red-hover: #881d2a;
  --bg-button-red-active: #b91e1e;
  --text-color-button-red: #fff;


  // button gray
  --bg-button-gray: #7c7c7c;
  --bg-button-gray-hover: #6b6b6b;
  --bg-button-gray-active: #5b5b5b;
  --text-color-button-gray: #fff;
}
