:root {
  --btn-padding-sm: 3rem;
  --btn-padding-md: 7rem;
  --btn-padding-lg: 13rem;
  --button-border-radius: .5rem;
  --button-border: none;
}


:root[data-theme="dark"] {
  // button green
  --bg-button-green: #1C6758;
  --bg-button-green-hover: #287963;
  --bg-button-green-active: #1f6053;
  --text-color-button-green: #fff;

  // button blue
  --bg-button-blue: #3A6B87;
  --bg-button-blue-hover: #3d769d;
  --bg-button-blue-active: #3A6B87;
  --text-color-button-blue: #fff;
}

:root[data-theme="light"] {
  // button green
  --bg-button-green: #1C6758;
  --bg-button-green-hover: #287963;
  --bg-button-green-active: #1f6053;
  --text-color-button-green: #fff;


  // button blue
  --bg-button-blue: #3A6B87;
  --bg-button-blue-hover: #3d769d;
  --bg-button-blue-active: #3A6B87;
  --text-color-button-blue: #fff;
}
