:root {
  --comment-border-radius: .7rem;

  --comment-button-padding: .2rem .5rem;
  --comment-button-border-radius: .5rem;
}

:root[data-theme="light"] {
  --comment-background: #FFFFFF;
  --comment-border: 3px solid #E0E0E0;
  --comment-text: var(--text-color-primary);

  --comment-button-background: #D0D0D0;
  --comment-button-border: 2px solid #B4ACAC;
  --comment-button-color: var(--text-color-primary)
}

:root[data-theme="dark"] {
  --comment-background: #22272B;
  --comment-border: 3px solid #31363A;
  --comment-text: var(--text-color-primary);

  --comment-button-background: #30373a;
  --comment-button-border: 2px solid #444b4d;
  --comment-button-color: var(--text-color-primary)
}
