.ql-editor {
  min-height: 10rem !important;
  max-height: 15rem;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: auto;
}

.ql-container {
  min-height: 10rem !important;
  max-height: 15rem;
  overflow: hidden;
}
