:root {
  --editor-border-radius: .5rem
}


:root[data-theme="light"] {
  --editor-background: #ffffff;
  --editor-border: 1px solid #afafaf;
  --editor-active-color: #282828;
  --ql-action-color: #000;
  --ql-picker-background: #d3d3d3;
  --ql-editor-a-color: #4052b6;
  --ql-toolbar-color: #8d8d8d;
}

:root[data-theme="dark"] {
  --editor-background: #282d34;
  --editor-border: 1px solid #383c44;
  --editor-active-color: #cccccc;
  --ql-action-color: #93c1e1;
  --ql-picker-background: #282d34;
  --ql-editor-a-color: #6172ab;
  --ql-toolbar-color: #777777;
}

.ql-container {
  background: var(--editor-background);
}

.ql-editor a {
  color: var(--ql-editor-a-color);
}

.ql-picker-options {
  background: var(--ql-picker-background) !important;
}

.ql-tooltip, .ql-tooltip * {
  background: var(--editor-background) !important;
  //border: var(--editor-border);
  box-shadow: none !important;
  color: var(--text-color-primary) !important;
  border-radius: var(--editor-border-radius) var(--editor-border-radius) 0 0;
}

.ql-editor .ql-tooltip {
  border: var(--editor-border);
}

.ql-bubble .ql-tooltip {
  height: 0;
}

.ql-action {
  color: var(--ql-action-color) !important;
}

.ql-toolbar {
  border-radius: var(--editor-border-radius) var(--editor-border-radius) 0 0;
}

.ql-toolbar.ql-snow {
  border: var(--editor-border);
  color: var(--text-color-primary) !important;
}

.ql-toolbar.ql-snow * {
  color: var(--text-color-primary) !important;

  svg > * {
    stroke: var(--ql-toolbar-color);
  }
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: var(--editor-active-color) !important;
  color: var(--editor-active-color) !important;
}

//.ql-snow.ql-toolbar button:hover,
//.ql-snow .ql-toolbar button:hover,
//.ql-snow.ql-toolbar button:focus,
//.ql-snow .ql-toolbar button:focus,
//.ql-snow.ql-toolbar button.ql-active,
//.ql-snow .ql-toolbar button.ql-active,
//.ql-snow.ql-toolbar .ql-picker-label:hover,
//.ql-snow .ql-toolbar .ql-picker-label:hover,
//.ql-snow.ql-toolbar .ql-picker-label.ql-active,
//.ql-snow .ql-toolbar .ql-picker-label.ql-active,
//.ql-snow.ql-toolbar .ql-picker-item:hover,
//.ql-snow .ql-toolbar .ql-picker-item:hover,
//.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
//.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
//  svg > * {
//    stroke: var(--editor-active-color);
//    color: var(--editor-active-color);
//  }
//}


.ql-editor {
  //min-height: 10rem !important;
  //max-height: 50vh;
  //overflow: hidden;
  border: var(--editor-border);
  height: max-content;
  overflow-y: auto;
  padding: .5rem .3rem;
  //border-radius: .6rem;
  border-radius: 0 0 var(--editor-border-radius) var(--editor-border-radius);
}

.editor-padding .ql-editor {
  padding: 1rem .5rem;
}

.ql-container {
  //min-height: 10rem !important;
  //max-height: 15rem;
  //overflow: hidden;
  height: max-content;
  font-family: 'Montserrat', sans-serif;
  font-size: var(--font-size-normal);

  border: none !important;
  //border-radius: .6rem;
  padding: 0;
  border-radius: 0 0 var(--editor-border-radius) var(--editor-border-radius);

}

.ql-hidden {
  height: 0;
  display: none;
}

.editor-no-styles {
  &.quill {
    margin: 0;
  }

  .ql-editor {
    padding: 0;
    border-radius: 0;
    border: none;
    background: none;
  }

  .ql-container {
    border-radius: .6rem;
    background: none;
  }
}

.editor-post-content {
  &.quill {
    margin-top: 1rem;
  }
}
