@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: var(--background);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root[data-theme="dark"] {
    --h1-text: #000000;
    --background: #dadada;
    --bg-button: #488868;
    --bg-button-hover: #2e5b44;
}

:root[data-theme="light"] {
    --h1-text: #ffffff;
    --background: #4b4b4b;
    --bg-button: #316049;
    --bg-button-hover: #3a6e52;
}
