@use "Button";
@use "Input";
@use "Editor";
@use "Avatar";
@use "Icon";
@use "Text";
@use "Post";
@use "Header";
@use "Menu";
@use "Tag";
@use "Pagination";
@use "Comment";
@use "Alert";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--background-color);
  color: var(--text-color-primary);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

:root[data-theme="light"] {
  --background-color: #EEEEEE
}

:root[data-theme="dark"] {
  --background-color: #171C20
}

@media (max-width: 640px) {
  .on-desktop {
    display: none;
  }
  .on-mobile {
    display: inherit;
  }
}


@media (min-width: 640px) {
  .on-desktop {
    display: none;
  }
  .on-mobile {
    display: inherit;
  }
}

@media (min-width: 768px) {
  .on-desktop {
    display: none;
  }
  .on-mobile {
    display: inherit;
  }
}

@media (min-width: 1024px) {
  .on-desktop {
    display: none;
  }
  .on-mobile {
    display: inherit;
  }
}

@media (min-width: 1280px) {
  .on-desktop {
    display: inherit;
  }
  .on-mobile {
    display: none;
  }
}

@media (min-width: 1536px) {
  .on-desktop {
    display: inherit;
  }
  .on-mobile {
    display: none;
    transform: translateX(100px);
  }
}


