:root {
  --icon-size: 1.5rem;
}

:root[data-theme="light"] {
  --icon-red-color: red;
  --icon-primary-color: #000
}

:root[data-theme="dark"] {
  --icon-red-color: red;
  --icon-primary-color: #fff
}
