@import "../../../styles/Avatar";

@keyframes menuShow {
  from {
    opacity: 0;
  }
}

@keyframes menuHide {
  to {
    opacity: 0;
  }
}

.menu {
  box-sizing: border-box;
  z-index: 100;
  list-style: none;
  user-select: none;
  margin: 0;
  padding: 6px;
  //font-family: sans-serif;
  font-size: 0.925rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background-color: var(--menu-background);
  min-width: 10rem;
}

.menuOpening {
  composes: menu;
  animation: menuShow 0.15s ease-out;
}

.menuClosing {
  composes: menu;
  animation: menuHide 0.2s ease-out forwards;
}

.menuItem {
  cursor: pointer;
  border-radius: 6px;
  padding: 0.375rem 0.625rem;
  transition: .2s;
  color: var(--menu-item-text-color);
}

.menuItemHover {
  composes: menuItem;
  color: var(--menu-item-hover-text-color);
  background-color: var(--menu-hover-background);
}

.menuItemDisabled {
  composes: menuItem;
  cursor: default;
  color: #aaa;
}

.menu:focus,
.menuItem:focus {
  outline: none;
}

.menuDivider {
  height: 1px;
  margin: 0.5rem 0.625rem;
  background-color: var(--menu-divider-color);
}

.menuButton {
  background: var(--menu-button-bg);
  border: var(--menu-button-border);
  padding: .2rem .5rem;
  border-radius: .5rem;
}

.arrowIcon {
  svg > path {
    stroke: var(--menu-arrow-color);
  }
}
