.icon {
  //width: 1rem;
  //height: 1rem;
  svg {
    height: 2.5rem;
    width: 2.5rem;
  }
  //svg > path {
  //
  //  fill: #cccccc;
  //  stroke: none;
  //}
}

:root[data-theme="light"] {
  .icon {
    svg > path {
      fill: #969696;
      stroke: none;
    }
  }
}

:root[data-theme="dark"] {
  .icon {
    svg > path {
      fill: #cccccc;
      stroke: none;
    }
  }
}


.wrapper {
  width: 30vw;
  user-select: text;
}
