.button {
  width: max-content;
  height: max-content;
  cursor: pointer;

  &.primary svg > path {
    stroke: var(--icon-primary-color);
  }

  &.red svg > path {
    stroke: var(--icon-red-color);
  }

  svg, img {
    width: var(--icon-size);
    height:  var(--icon-size);
  }
}
