.post {
  background: #945b5b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  width: 40vw;
  margin: 1rem auto;

  .image {
    max-height: 10rem;
    object-fit: cover;
  }
}
