.header {
  background-color: var(--header-background);
  border-bottom: var(--header-border);
  color: var(--header-text-color);
}


.plusIcon {
  svg > path {
    fill: var(--icon-primary-color);
  }
}
