.badge {
  padding: var(--badge-padding);

  position: absolute;
  top: 0;
  right: 0;
  border-radius: var(--badge-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  //font-size: 2rem;

  font-weight: 500;
  font-size: .9rem;
  &.red {
    background: var(--badge-bg-red);
  }
}
