@mixin avatar($size) {
  width: $size;
  min-width: 40px;
  height: $size;
  min-height: 30px;

  border-radius: 50%;

  img, svg {
    width: $size;
    //min-width: 50px;
    height: $size;
    //min-height: 50px;


    border-radius: 50%;

    object-fit: cover;
  }
}
