:root {
  --pagination-item-text-color: var(--text-color-primary);

}

:root[data-theme="light"] {
  --pagination-item-background: #cdcdcd;
  --pagination-item-hover-background: #bbbbbb;

  --pagination-item-active-background: #6ca586;
  --pagination-item-hover-active-background: #649a7e;

  --pagination-buttons-background: #A8A8A8;
  --pagination-buttons-hover-background: #919191;
}

:root[data-theme="dark"] {
  --pagination-item-background: #292d34;
  --pagination-item-hover-background: #393c44;

  --pagination-item-active-background: #066056;
  --pagination-item-hover-active-background: #1C6758;

  --pagination-buttons-background: #414750;
  --pagination-buttons-hover-background: #646464;
}
