.textarea {
  padding: var(--input-padding);
  font-size: var(--input-font-size);
  border-radius: var(--input-border-radius);
  outline: none;
  width: 100%;
  //max-width: 400px;
  min-height: 3rem;
  max-height: 10rem;
  resize: vertical;


  //border: 1px solid #ccc;
  //overflow-x: hidden;
  //overflow-y: auto;



  background-color: var(--input-filled-background);
  border: var(--input-filled-border);
  color: var(--input-filled-text);

  &::placeholder {
    color: var(--input-filled-placeholder)
  }
}


.invalid {
  border: 2px solid darkred;
}

.error {
  color: #ce0000;
  font-size: .9rem;
}

.container {
  width: 100%;
  //max-width: 500px;
}
