.button {
    color: var(--h1-text);
    background-color: var(--bg-button-green);
    border-radius: 10px;
    padding: 0.5rem var(--btn-padding-md);

}
.button:hover {
    background-color: var(--bg-button-green-hover);
}
.button:active{
    background-color: var(--bg-button-green-active);
}